<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.z_module_service" >

    <application>
        <activity android:name=".activity.BookAssetsDetailMapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
